nav {
    background-color: blue;
    color: white;
    font-size: 24px;
    font-weight: bold;
    height: 1.5em;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    margin: 10px;
    align-items: center;
}

h2 {
    font-size: 1.5em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

#city-search {
    display: flex;
    justify-content: flex-start;
    padding: 10px;
    margin: 5px;
}

#search-txt-area {
    margin: 5px;
    padding: 5px;
    border-radius: 10px;

}

#search-btn {
    background-color: rgb(12, 69, 224);
    color: white;
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin: 10px;
    width: -webkit-fill-available;
    align-items: center;
    border-radius: 10px;
}

#search-input {
    width: -webkit-fill-available;
    margin: 5px;
}

#display-city {
    display: flex;
    flex-direction: row;
}

.container {
    display: flex;
}

.search-container {
    width: 30%;

}

.weather-container {
    width: 70%;
    margin-left: 40px;
}

.heading-flex {
    display: flex;
}

#display-forecast {
    display: flex;
}

#display-forecast div {
    background-color: blue;
    margin: 10px;
    color: white;
}

#past-results {
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin: 5px;
}